/* quiz part */
.col-sm-12 {
  background-color: #f9fcfc;
}

/* hint and question */
.shiny-text-output {
  min-height: 30px;
}

#hint {
  color: #FF9966;
}

#answer {
  text-align: center;
}

#sp {
  background-color: lightgrey;
  line-height: 2px;
}

#sidebar {
  background-color: #6ea0bc;
  
}

h2 {
  line-height: 1.5;
  color: #ffffff;
  font-size: 28pt;
  padding-top: 5px;
  padding-bottom: 15px;
}

h3 {
  color: #ffffff;
  font-size: 12pt;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 14pt;
  background-color: #0f6999;
  background-image: url(fabric-plaid.png); /* from https://www.transparenttextures.com/ */
  background-repeat: repeat;
}